body{
	background-image: url('../img/retina_wood_@2X.png');
	width:100%;
	margin:0px;
	padding:0px;
	font:14px Helvetica;	
}

.content{
	background-color: rgba(0, 0, 0, 0.498039);
	text-align: center;
	
	-moz-border-radius: 15px;
	border-radius: 15px;

	width:600px;
	height:320px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-180px 0 0 -300px;	
	
	padding: 10px;	
}

.appname{
	font:32px Helvetica;
	font-weight:bold;
	color: white;
}

.notes{
	font:24px Helvetica;
	font-weight:bold;
	color: white;
}

.appicon{
	padding: 10px;
}

.claimbutton {
	margin:10px;
	
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	-webkit-border-horizontal-spacing: 2px;
	-webkit-border-image: none;
	-webkit-border-vertical-spacing: 2px;
	-webkit-box-shadow: #CAEFAB 0px 0px 0px 0px inset;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #77D42A;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.05, #77D42A), to(#5CB811));
	background-origin: padding-box;
	background-size: auto;
	border-bottom-color: #268A16;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-collapse: separate;
	border-left-color: #268A16;
	border-left-style: solid;
	border-left-width: 4px;
	border-right-color: #268A16;
	border-right-style: solid;
	border-right-width: 4px;
	border-top-color: #268A16;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	border-top-style: solid;
	border-top-width: 4px;
	box-shadow: #CAEFAB 0px 0px 0px 0px inset;
	color: #306108;
	cursor: pointer;
	display: inline-block;
	font-family: arial;
	font-size: 18px;
	font-weight: bold;
	height: 22px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 6px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 6px;
	text-align: center;
	text-decoration: none;
	text-shadow: #AADE7C 1px 1px 10px;
	width: 164px;
}
.claimbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.claimbutton:active {
	position:relative;
	top:1px;
}

.promocode{
	text-align:center;
	margin: 10px;
	border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
	font:24px Helvetica;
	color:white;
}

#adminDiv{
	position: absolute;
	right: 1px;
	bottom: 1px;
	cursor: pointer;
}